@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* input global style*/

.input {
  @apply w-full rounded-md bg-[#020617] border border-gray-800
  px-4 py-2 text-sm text-white
  placeholder-gray-500
  focus:outline-none focus:ring-2 focus:ring-indigo-600;
}

/*default set theme on site*/
:root {
  --brand-primary: #4f46e5;
}

.bg-brand {
  background-color: var(--brand-primary);
}

.text-brand {
  color: var(--brand-primary);
}

.border-brand {
  border-color: var(--brand-primary);
}


